/* body styling */

body {
    background-color: black;
}

/* h1 and typewriter styling */
h1 {
    font-size: 80px;
    font-family: "Satisfy";
}

@keyframes typing {
    0% {
        width: 0
    }

    30% {
        width: 11ch
    }

    100% {
        width: 11ch
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

/* jumbotron styling */
.hero-container {
    height: 500px;
    background-image: url(/assets/profilepic.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
}
h2 .typewriter {
    width: 11ch;
    animation:
        typing 5s steps(11) infinite,
        blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    position: absolute;
}

/* my projects image styling */
.my-projects img {
    object-fit: cover;
    object-position: top center;
    height: 400px;
}


/* hover and a tag styling */
.hover-shadow:hover {
    box-shadow: 10px 5px 5px gray;
}

a:hover {
    border-bottom: 1px solid white;
    color: gray;
}
a{
    color: white;
}