
h1{
    font-size: 80px;
    font-family: "Satisfy";
}
h2 .typewriter {
    width: 11ch;
    animation:
        typing 5s steps(11) infinite,
        blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    position: absolute;
}

@keyframes typing {
    0% {
        width: 0
    }

    30% {
        width: 11ch
    }

    100% {
        width: 11ch
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}
.main-img{
    height: 600px;
    background-image: url(/assets/profilepic.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    
}
.hero-position{
    position: relative;
    top: 230px;
}
